.main-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 70%;
    padding-bottom: 35px;
}

.form {
    width: 90%;
}

label {
    color: #8C8874;
}

input {
    border-radius: 25px;
    border: 2px solid #8C8874;
}

.btn {
    height: 50px;
    border-radius: 25px;
    background-color: #F3C7C4;
    color: #8C8874;
    font-weight: 700;
}

h6 {
    color: #8C8874;
    font-size: 12px;
}