<section class="main-section position-relative text-center mt-5 pt-4">
  <div class="menu-container">
    <a routerLink="/clients"><img class="menu-icon" src="../../../assets/images/file-person.jpg" alt=""></a>
    <img class="menu-icon" src="../../../assets/images/bag-plus.jpg" alt="">
    <img class="menu-icon" src="../../../assets/images/coin.jpg" alt="">
    <img class="menu-icon" src="../../../assets/images/box-arrow-right.jpg" alt="">
  </div>
  <footer class="position-absolute bottom-0">
    <h6 class="text-center">&copy;2023 MÄKA Baby. Todos los derechos reservados</h6>
  </footer>
</section>
