<section class="main-section position-relative text-center">
  <div class="menu-container my-5">
    <img class="menu-icon" src="../../../assets/images/file-person.jpg" alt="">
    <img class="menu-icon" src="../../../assets/images/bag-plus.jpg" alt="">
    <img class="menu-icon" src="../../../assets/images/coin.jpg" alt="">
    <img class="menu-icon" src="../../../assets/images/box-arrow-right.jpg" alt="">
  </div>
  <div class="img-container d-flex justify-content-center align-items-center">
    <img src="../../../assets/images/Logo_app.png" alt="">
  </div>

</section>
